# vim: sts=2 ts=2 sw=2 et ai
flussonic:
  users:
    - name: flussonic
      passwd: 12345678 
  streams:
    - name: test 
      url: udp://@238.0.1.1:1234
      dvr:
        path: /srv/dvr
        period: 5d
        percent: 90%
      transkoder:
        - vb: 2048k
          preset: slow
          deinterlace: true
          size: 720x576
          ab: 128k
  license: "dsfafasf" 

